{% for block in section.blocks %}    
{% if block.type == 'filter' %} 
{% if block.settings.filter_by contains cur_tag %}
<li class="item">
  {% if block.settings.filter_by_title != blank %}
  	<span class="filter-label">{{ block.settings.filter_by_title }}</span>
  {% endif %}
  <span class="filter-value">{{ cur_tag | remove: 'cf-size-' | remove: 'COLOR_' | remove: 'PRICE_' | replace: '_',' ' | downcase }}</span>
  {{ cur_tag | remove: 'cf-size-' | remove: 'COLOR_' | remove: 'PRICE_' | replace: '_',' ' | link_to_remove_tag: cur_tag }}
</li>
{% endif %}                
{% endif %}
{% endfor %}  