
                                                        {% if customer  %}
                                                            <li><a href="/pages/tickets">Tickets</a></li>
                                                        {% else if %}
                                                            <li><a href="/pages/create-ticket">Create Ticket</a></li>
                                                        {% endif %}
                                                    