{% if section.settings.img != blank %}
<div class="img_wrapper">
  {% if section.settings.url != blank %}
  <a href="{{ section.settings.url }}">
  {% endif %}
    <img src="{{ section.settings.img | img_url : 'master' }}" alt="{{ section.settings.img.alt }}">
  {% if section.settings.url != blank %}
  </a>
  {% endif %}
</div>
{% endif %}
{% schema %}
  {
    "name": "Password",
    "settings": [
  		{
  			"type":"image_picker",
  			"id":"img",
  			"label":"Image"
  		},
		{
  			"type":"url",
  			"id":"url",
  			"label":"Link"
  		}
  	]
  }
{% endschema %}