<section class="returns-policy">
  <div class="min-container">
    {% for block in section.blocks %}
    <div class="online-purchase">
      {% if block.settings.title != blank %}
      <span>{{ block.settings.title }}</span>
      {% endif %}
      {% if block.settings.content != blank %}
      {{ block.settings.content }}
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Returns Policy",
    "settings": [],
	"blocks":[
	{
		"name": "Return Policy",
		"type": "return_policy",
		"settings":[
		{	
        "type": "text",
        "id": "title",
        "label": "Title"
		},
		{	
        "type": "richtext",
        "id": "content",
        "label": "Content"
		}
		]
	}
	]
  }
{% endschema %}