<!-- {% section 'rewards-template' %} -->

<div class="normal_page general-use">
  {% section 'banner-history-smile' %}
    <div class="min-container">
      {% section '01-full-size-img-smile' %}
      {% section '01-geral-use-template-smile' %}
      {% section '02-featured-products-smile' %}
    </div>	
  </div>