
<a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns page clearfix">
{% comment %}   <h1> {{ page.title }}</h1>
  <div class="feature_divider"></div>
  <div>
    {% render 'page-multi-column', content: page.content %}
  </div> 
{% endcomment %}
  
 <section id="diffuser">
  <div class="container">
 
    <!-- Banner Code -->  
    <div class="row">
      <div class="banner-image">
        {% section 'Diffuser_refills_banner' %}
      </div>
    </div>


    <div class="freshup-diffuser">
      {% section 'diffuser_refills-image_with_text' %}
    </div>


    <div class="block-banner">
      {% section 'diffuser_refills_product_list'%}
    </div>
   
    <div class="air-essense">
<!--       <div class="row">
        <div class="col-sm-7">
           <a href="#">
                <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0550/2595/9111/files/box-jar.jpg?v=1619421431">
           </a>
        </div>
        
          <div class="col-sm-5 right-fragnances">
            <h2> AirEssence & PetiteEssence</h2>
            <h1>Diffuser Refils</h1>
            <div class="list">
              <p>Balsam</p>
              <p>Bitter Orange</p>
              <p>Cedar Rose</p>
              <p>Citrus Lily</p>
              <p>Golden Cassis</p>
              <p>Lavendar and Rosemary</p>
              <p>Lemon Verbena</p>
              <p>Lime and Orange</p>
              <p>Mediterranean Jasmine</p>
            </div>
           	<a href="#"><button class="shop-now-button">SHOP NOW</button></a>
      	</div>

      </div> -->
      
      {% section 'diffuser_refills_left_image' %}
           
    </div>
        
    
    
</div>

</section>
</div>

			   