<div class="normal_page general-use">
  <div class="min-container">
    {% section '01-full-size-img' %}
    {% section '01-geral-use-template' %}
    {% section '02-featured-products' %}
  </div>	
</div>