{% layout none %}
<!DOCTYPE html>
<html>

<head>
  <title>Please Log In</title>
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
    }
    *,
    *:before,
    *:after {
      box-sizing: border-box;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    }

    img {
      border: 0;
    }

    body {
      margin: 0;
      background-color: #fff;
      font: 1em/1.4em "Lucida Grande", "Trebuchet MS", Helvetica, sans-serif;
      color: #333;
      display: flex;
      align-items: center;
      min-height: 100vh;
    }

    h1,h2,h3,h4,h5,h6 {
      color: #000;
      margin: 5px 0 10px 0;
      font-weight: 400;
    }

    h3,h4,h5,h6 {
      font-weight: 700;
    }

    a {
      color: #3084CA;
    }

    a:hover {
      color: #25669C;
    }

    p {
      color: #666;
      margin-bottom: 13px;
      font-size: 14px;
    }

    ul, ol {
      margin-bottom: 13px;
      margin-left: 15px;
    }

    ol {
      margin-left: 25px;
    }

    input.btn {
      border-radius: 0;
      text-align: center;
      border: none;
      letter-spacing: 0.5px;
      line-height: 24px;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      background: #2f2f2f;
      color: #f2f2f2;
      width: auto;
      font-size: 14px;
      font-weight: normal;
      padding: 10px 25px;
      transition: all 0.2s ease-in-out;
    }

    input.btn:hover {
      color: #f2f2f2;
      background: #df5c53;
    }

    input.btn:active, input.btn:focus {
      outline: none;
      -moz-outline-style: none;
      background: #eee;
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #ccc;
      color: #555;
    }

    #container {
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
      padding: 20px;
    }

    #login {
      background: #fff;
      border: none;
      border-bottom: 1px solid #ccc;
      margin: 20px auto 0 auto;
      padding: 30px;
      max-width: calc(500px - 60px);
      width: 100%;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid #ddd;
    }

    #login h1 {
      margin: 0 0 18px 0;
      text-align: center;
      line-height: 30px;
    }
    @media screen and (max-width: 767px) {
      #login h1{
        font-size:22px;
      }
    }

    #login .default-text {
      font-family: serif;
      font-style: italic;
      margin-bottom: 1.5em;
      font-size: 17px;
      display: block;
      text-align: center;
      margin-top: 33px;
    }

    form#login_form {
      border-top: 1px solid #e0e0e0;
      padding-top: 15px;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
    }

    form#login_form label {
      color: #666;
      width: 100%;
      margin: 0 0 8px 0;
      display: block;
    }

    #login_form #password {
      background-color: white;
      border: 1px solid #dfdfdf;
      color: #414346;
      float: left;
      max-height: 42px;
      padding: 8px 10px;
      transition: all 0.3s ease-out 0s;
      width: 100%;
      appearance: none;
      margin: 0 0 15px 0;
      display: block;
      max-width: calc(100% - 20px);
    }

    #login_form label, #login_form input {
      float: left;
      margin-right: 3px;
    }

    #footer {
      margin-top: 15px;
      font-size: 13px;
      color: #666;
      text-shadow: 0 1px rgba(255,255,255,0.4);
      text-align: center;
    }

    #powered {
      color: #9c9c9c;
      display: block;
      margin-top: 15px;
    }

    #powered a {
      background-repeat: no-repeat;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAACl0lEQVR4AW2RS2jcdRSFv3v/j5nJOBnbJCba0DQ2qU1aqw0oOqB0oxbB564gFLvothvBlWQjuJBCwcfOhYouBF2ILlMsFKWSIopFFNNSkyxaqxPzmJn/43evmUVpFv3gu9zNgQNHuAsfnn/2tLufcHgI9E3gU+6CvL/wHDsR/A3EDwiy6HAMmBbxsze+a30BGDuQ+fl5brP76Uv7I7GXFTbMfVTQKyL+tigzS9ey9fWOvxaJXQTaAPHN0QVuMyq14+Ycd5EN8FcQQ1QA2Owy2F4LXw/tilZ0WGaAzViGI2ZHKlO4f4xErTJsspW1EVEiTRisDeMugCMIvYzx5rruAX7XZF3B/flI4lY3b6OS0Jo6zUtH3+WJB0/hGEUoMAONIAQnTayxLXH/CLKvV25QTZq8OneOseYMANfTXfy0/BkeKpiBCAAUBU8Ci/H2g+OjWbHJ45Mn6Qcv/PEeW9mtbf8BDJUUsx4i9CUrbApAJw/URsR9QkTZXd8LgJtx/rezXP37Io3qfQRzzB1BKEsH9B5QNAphjyN7BeHPGxcAOHbwDCdbnxNrhcI6uDkh3Klt5nMDDZ1Q7++p+kA1GeSHpY/48vIZAB4ef5HJkRbdfA1zcHdEQFUIwafzzPepIuO9/L/o/uZhXnj0Hda6K2z0bgKQRnXcA2bgDgAIFAUDsXotdnx/GXrU0ub2NK/3BaDdWWa5fZlq0qDXcXZkcRArORqDHqpXhrl663u+/eUtDo49Q1Zu8eO1T+jk/3JvfQizHBzgToO8sMdicf9AJFpy84krq9/M/rzy1bS4RNV0kHo6BBghQBkcd4hjQRWynJqcOvcUO5l7pDGmhMPudgQ4lCZ65K/VfPb6arlVH5AFVX6tVHUxmF/6H+vwKe+hBs8sAAAAAElFTkSuQmCC);
      padding-left: 21px;
      color: #9c9c9c;
      text-decoration: none;
    }

    #powered a:hover {
      text-decoration: underline;
    }

    .errors {
      background: #feebeb;
      padding: 4px 5px;
      font-size: 15px;
      color: #7e1412;
      display: block;
      margin-bottom: 15px;
    }

    .errors ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .center {
      text-align: center;
      display: block;
      font-size: 17px;
    }
    .text-center{
      text-align:center;
    }
    .img_wrapper{
      width: 100%;
    }
    .img_wrapper img{
      display: block;
      width: 100%;
    }
  </style>
</head>
<body>

  <div id='container'>
    {% section 'password_image' %}
    <div id='login'>
      <div class="text-center">
        <h1>{{ shop.name }}</h1>
        {% if shop.password_message and shop.password_message != '' %}
          {{ shop.password_message }}
        {% else %}
          <p><span class="default-text">Will be opening soon...</span></p>
        {% endif %}
      </div>
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for='password'>Enter store using password: </label>
        <input type='password' name='password' id='password' autofocus />
        <div class="actions">
          <input class="btn" name="commit" type="submit" value="Enter" />
        </div>
      {% endform %}
    </div>

    <div id='footer'>
      <div id='owner'>Are you the store owner? <a href="/admin">Log in here</a> or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a></div>
      <div id='powered'>
        This store is powered by <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify" rel="nofollow">Shopify</a>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    document.getElementById('password').focus();
  </script>

</body>
</html>
